<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">./logs</Property>
        <Property name="CONSOLE_PATTERN">%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bright red, ERROR=red, WARN=yellow,
            INFO=green, DEBUG=cyan, TRACE=blue}: %msg%n%throwable
        </Property>
        <Property name="FILE_PATTERN">%d{HH:mm:ss.SSS} [%t] %level: %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_PATTERN}" noConsoleNoAnsi="false" disableAnsi="false"/>
        </Console>

        <RollingFile name="InfoFile"
                     fileName="${LOG_DIR}/info.log"
                     filePattern="${LOG_DIR}/info.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${FILE_PATTERN}" charset="UTF-8"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="90"/>
        </RollingFile>

        <RollingFile name="ErrorFile"
                     fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${FILE_PATTERN}" charset="UTF-8"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="90"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>
